/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-radius: 0 !important;
    box-shadow: none !important;
  }
  
  body {
    @apply bg-black text-white font-mono antialiased;
    overflow-x: hidden;
  }

  /* Inversione selezione testo */
  ::selection {
    background-color: #FFFFFF;
    color: #000000;
  }

  /* Scrollbar brutalista (Webkit) */
  ::-webkit-scrollbar {
    width: 16px;
  }
  ::-webkit-scrollbar-track {
    background: #000000;
    border-left: 4px solid #FFFFFF;
  }
  ::-webkit-scrollbar-thumb {
    background: #FFFFFF;
  }
}