---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<section class="mt-12 border-4 border-black p-8 bg-gray-100 shadow-[8px_8px_0px_0px_rgba(0,0,0,1)]">
		<h2 class="text-5xl font-black uppercase mb-4">Rumore & Sudore.</h2>
		<p class="text-xl mb-6 max-w-2xl">Produciamo dischi che ti spaccano i timpani. Niente fronzoli, solo la fottuta verità registrata su nastro.</p>
	</section>
</Layout>